* {
    padding: 0;
    margin: 0;
}
body {
	background-color: #CE0CE8;
	font: 16px/1.5em Halvetica, Arial, sans-serif;
	color: white;
}

#board{	
	display: flex;
	flex-direction: column;
	justify-content: center;
	text-align: center;
}

#tictac {
	height: 80vh;
	margin: 0 auto;
	display: flex;
	flex-direction: column;
	justify-content: center;
}

table {	
	text-align: center;
	border-collapse: collapse;
	font-size: 3.5em;
	background-color: #9B00FF;
	table-layout: fixed;
}

#tictac td {	
	border: 5px solid #550CE8; 
	width: 150px;
	height: 150px;
}

#container {
    display: flex;
    height: 10vh;
}

#copy {
	height: 10vh;
	line-height: 10vh;
}

#status,
#room{
    padding: 5px;
    font-size: 1.5em;
    width: 50vw;
}

#room{
	text-align: left;
}

#status{
    text-align: right;
}

