/*Общие стили*/
* {
    padding: 0;
    margin: 0;
}
body {
	background-color: #8f9ca7;
	font: 16px/1.5em Halvetica, Arial, sans-serif;
	color: white;
}

#wrapper{	
	display: flex;
	flex-direction: column;
	justify-content: center;
	text-align: center;
	position: relative;
}
/*Стили для верхнего блока с информацией*/
#info {
    display: flex;
    height: 10vh;
}

#status,
#room{
    padding: 5px;
    font-size: 1.5em;
    width: 50vw;
}
#room{
	text-align: left;
    text-decoration: underline;
}

#room p{
	display: inline;
    cursor: pointer;
}

#status{
    text-align: right;
    cursor: default;
}
/*Стили для списка комнат*/
#room-list {
	text-align: left;
	cursor: pointer;
	color: black;
	z-index: 5;
	height: 300px;
	width: 300px;
	background-color: #8f9ca7;
	position: absolute;
	top: 50%;
	left: 50%;
  	margin: -150px 0 0 -150px;
  	overflow-y: auto;
  	overflow-x: auto;
  	display: none;
	-webkit-box-shadow: 0px 0px 15px 0px rgba(0,0,0,0.75);
	-moz-box-shadow: 0px 0px 15px 0px rgba(0,0,0,0.75);
	box-shadow: 0px 0px 15px 0px rgba(0,0,0,0.75);
}
#room-list li {
	list-style-type: none; 
	padding: 10px;
}
#room-list #room-number {
	background-color: #93c5c1;
	border-bottom: 1px solid #8f9ca7;
}
#room-list #player {
	background-color: #88a587;
	border-bottom: 1px solid #93c5c1;
}
/*Стили для поля и чата*/
#tictac {
	height: 90vh;
	margin: 0 auto;
	display: flex;
	flex-direction: column;
	justify-content: center;
}

#container	 {
	display: flex;
	margin: 0 auto;
	-webkit-box-shadow: 0px 0px 15px 0px rgba(0,0,0,0.75);
	-moz-box-shadow: 0px 0px 15px 0px rgba(0,0,0,0.75);
	box-shadow: 0px 0px 15px 0px rgba(0,0,0,0.75);
}	

table {	
	text-align: center;
	border-collapse: collapse;
	font-size: 3.5em;
	background-color: #a3b690;
	table-layout: fixed;
}

td {	
	border: 5px solid #88a587; 
	width: 150px;
	height: 150px;
	cursor: pointer;
}

#chat {
	height: 470px;
	width: 470px;
	background-color: #93c5c1;	
}

#chat-window {
	text-align: left;
	height: 90%;
	overflow-y: auto;
}

#message {
	height: 10%;
	border-top: 3px solid #83b6a8;
 	padding: 0 10px;
 	display: flex;
  	flex-direction: column;
  	justify-content: center;	
}

#message-text {
	left: 5px;
	bottom: 50%;
	border: 0;
	background-color: #93c5c1;
	color: 	white;
}
/*Стили для блока с копирайтом*/
#copy {
	height: 5vh;
	line-height: 5vh;
	text-align: center;
}
/*Стили для окна выбора никнейма*/
#nickname-setup {
	text-align: left;
	z-index: 6;
	height: 100%;
	width: 100%;
	background-color: #93c5c1;
	position: absolute;
	top: 0;
	left: 0;
	display: flex;
	justify-content: center;
	align-items: center;
    transition: left 0.5s;
}

#nickname {
	width: 30%;
	height: 40px;
	font-size: 2em;
	text-align: center;
	background-color: #93c5c1;
	border: 0;
	border-bottom: 3px solid #83b6a8;
}