* {
    padding: 0;
    margin: 0;
}
body {
	background-color: #8f9ca7;
	font: 16px/1.5em Halvetica, Arial, sans-serif;
	color: white;
}

#board{	
	display: flex;
	flex-direction: column;
	justify-content: center;
	text-align: center;
	position: relative;
}

#tictac {
	height: 80vh;
	margin: 0 auto;
	display: flex;
	flex-direction: column;
	justify-content: center;
}

#content {
	display: flex;
	justify-content: center;
	-webkit-box-shadow: 0px 0px 15px 0px rgba(0,0,0,0.75);
	-moz-box-shadow: 0px 0px 15px 0px rgba(0,0,0,0.75);
	box-shadow: 0px 0px 15px 0px rgba(0,0,0,0.75);
}	

#chat {
	height: 470px;
	width: 470px;
	background-color: #93c5c1;	
}

#chat-window {
	text-align: left;
	height: 90%;
	overflow-y: auto;
}

#message {
	height: 10%;
	border-top: 3px solid #83b6a8;
 	padding: 0 10px;
 	display: flex;
  	flex-direction: column;
  	justify-content: center;	
}

#message-text {
	left: 5px;
	bottom: 50%;
	border: 0;
	background-color: #93c5c1;
	color: 	white;
}

table {	
	text-align: center;
	border-collapse: collapse;
	font-size: 3.5em;
	background-color: #a3b690;
	table-layout: fixed;
}

#tictac td {	
	border: 5px solid #88a587; 
	width: 150px;
	height: 150px;
	cursor: pointer;
}

#container {
    display: flex;
    height: 10vh;
}

#copy {
	height: 10vh;
	line-height: 10vh;
}

#status,
#room{
    padding: 5px;
    font-size: 1.5em;
    width: 50vw;
}

#room{
	text-align: left;
    text-decoration: underline;
}

#room p{
	display: inline;
    cursor: pointer;
}

#status{
    text-align: right;
    cursor: default;
}

#room-list {
	color: black;
	z-index: 6;
	height: 300px;
	width: 300px;
	background-color: white;
	position: absolute;
	top: 50%;
	left: 50%;
  	margin: -150px 0 0 -150px;
  	overflow-y: auto;
  	overflow-x: auto;
  	display: none;
	-webkit-box-shadow: 0px 0px 15px 0px rgba(0,0,0,0.75);
	-moz-box-shadow: 0px 0px 15px 0px rgba(0,0,0,0.75);
	box-shadow: 0px 0px 15px 0px rgba(0,0,0,0.75);
}